body {
    text-align: center;

    font-family: cursive;

    margin: 70px 70px 0px 70px;

    background: linear-gradient(-45deg, darkmagenta, purple, darkorange, orange);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header input {

    width: 250px;
    height: 30px;

    font-family: cursive;

    border-radius: 10%;
    border-color: black;
}

.header button {
    background-color: lightgray;

    width: 50px;
    height: 40px;
    margin-left: 10px;

    font-family: cursive;
    font-size: large;

    border-radius: 20%;
    border-color: black;
}

.header h1 {
    color: lightgrey;

    text-decoration: underline;
    text-shadow:
        2px 0 black,
        -2px 0 black,
        0 2px black,
        0 -2px black,
        1px 1px black,
        -1px -1px black,
        1px -1px black,
        -1px 1px black;
}